{{#partial "content"}}
    {{ name }}
    {{#if posts}}

        {{#each posts}}

            <h1 style="color:black">Current post:</h1>
            <p style="color:black">Name: {{ name }}</p>
            <p style="color:black">Email: {{ email }}</p>
            <p style="color:black">Property: {{ property }}</p>
            <p style="color:black">Location: {{ location }}</p>
            <p style="color:black">Purpose: {{ purpose }}</p>
            <p style="color:black">MeansOfPayment: {{ meansOfPayment }}</p>
           <p style="color:black">Price: {{ price }}</p>

        {{/each}}
    {{else}}
        <p>No house!</p>

    {{/if}}

{{/partial}}

{{> layout.hbs}}